<template name="nav">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class=container>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            accounts-templates-bootstrap
          </span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            <li id="homeLink"><a href="/">Home</a></li>
            <li id="fullLink"><a href="/full">Full Page</a></li>
          </ul>
          <p class="navbar-text navbar-right">View on <a href="https://github.com/splendido/test-accounts-templates-bootstrap" class="navbar-link">GitHub</a> or <a href="https://atmospherejs.com/package/accounts-templates-bootstrap" class="navbar-link">Atmosphere</a></p>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
</template>
