<template name="nav">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class=container>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            accounts-templates-bootstrap
          </span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/full">Full Page</a></li>
                <li><a href="/states">States</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/loginNeeded">Private Stuff</a></li>
              </ul>
            </li>
            <!--
            <li><a href="/full">Full Page</a></li>
            <li><a href="/states">States</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/loginNeeded">Private Stuff</a></li>
            -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">
                View on <a href="https://github.com/splendido/test-accounts-templates-bootstrap" class="navbar-link">GitHub</a> or <a href="https://atmospherejs.com/package/accounts-templates-bootstrap" class="navbar-link">Atmosphere</a>
              </p>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{currLang}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{#each languages}}
                  <li><a class="setlang" id="lang-{{this}}" href="#">{{uppercase this}}</a></li>
                {{/each}}
              </ul>
            </li>
          </ul>
        
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
</template>

